.custom-text-input {
  .input-group {
    position: relative;
    transition: 0.3s;
  }

  .input-group-focused {
    position: relative;
    transition: 0.3s;
  }

  .my-input {
    width: 100%;
    padding: 10px;
    background: #082430;
    border: 2px solid #29777b;
    border-radius: 5px;
    outline: none;
    color: #29777b;
    font-size: 1em;
    font-weight: 600;
    height: 25px;
    border: solid 1px rgba(0, 214, 252, 0.3);

    &:focus-visible {
      outline: #00d6b6;
      box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
      text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);                                                    
    }
  }

  .invalid-input {
    border: 1px solid rgb(206, 102, 102);
    box-shadow: 0 0 3px red;
    color: red;

    &:focus-visible {
      outline: #00d6b6;
      box-shadow: 0 0 3px red;
    }

    &::placeholder {
      color: red;
    }
  }

  .my-error {
    color: red;
    font-size: 12px;
    margin-top: 6px;
  }

  .placeholder-label {
    position: absolute;
    pointer-events: none;
    text-transform: uppercase;
    left: 12px;
    top: 12px;
    transition: 0.2s ease all;
    opacity: 1;
    color: #29777b;
    font-weight: 600;
  }

  .placeholder-label-password {
    position: absolute;
    pointer-events: none;
    text-transform: uppercase;
    left: 12px;
    top: 18px;
    transition: 0.2s ease all;
    opacity: 1;
    color: #29777b;
    font-weight: 600;
  }

  .label-focus {
    top: -19px;
    left: 2px;
    font-size: 14px;
    opacity: 1;
    padding: 0 0px;
    color: rgba(0, 214, 252, 1);
  }

  .label-focus-password {
    top: -16px;
    left: 2px;
    font-size: 14px;
    opacity: 1;
    padding: 0 0px;
    color: rgba(0, 214, 252, 1);
  }

  .btn-toggle-password {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 15px;

    button {
      background: none;
      border: none;
    }
  }
}
