@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.container-content {
  display: flex;
  height: 100%;
 
  .container {
    height: 100%;
    display: flex;
    position: relative;
    margin-left: 0;
    
    .container-navbar {
      display: flex;
      position: relative;
      width: 85px;
      top: 0;
      height: 100%;
      border-right: solid 1px rgba(0, 214, 252, 0.3);
      box-shadow: 1px 1px 5px rgba(0, 214, 252, 0.3);

      > ul {
        list-style: none;
        color: rgba(0, 214, 252, 0.5);
        font-weight: 600;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 !important;
        margin-block-end: 0;
        padding: 0;

        .navbar-li {
          display: flex;
          height: 70px;
          width: 90%;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;
          padding: 5px;

          .image-inactive {
            position: absolute;
            display: none;
            width: 80px;
            height: 80px;
          }

          .image-active {
            position: absolute;
            display: flex;
            width: 80px;
            height: 80px;
          }

          .selected-mid {
            z-index: 998;
            animation: rotate infinite 5s linear;
          }

          .selected-outer {
            z-index: 998;
            animation: rotateReverse infinite 5s linear;
          }

          .selected-inside {
            z-index: 1000;
            animation: rotateReverse infinite 7s linear;
          }

          > span {
            position: absolute;
          }

          .icon-option {
            position: absolute;

            > svg {
              filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            }

            > img {
              width: 2.4em;
              margin-top: 10px;
              filter: saturate(2);
              z-index: 1000;
              position: relative;
            }
          }
        }

        .active {
          color: rgba(0, 214, 252, 1);

          > img {
            display: flex;
          }

          .icon-option {
            > svg {
              fill: #00bfff;
            }
            > img {
              filter: saturate(6) contrast(160%) brightness(1.25);
            }
          }

          &:after {
            content: "";
            position: absolute;
            margin-top: 10px;
            right: 0;
            width: 2px;
            height: 35px;
            transform: translateX(1px);
            background: rgba(0, 214, 252, 1);
            transition: all 0.25s ease;
          }
        }
      }
    }
  }

  .account-information-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 99vh;

    .account-information-title-container {
      display: flex;
      position: relative;
      width: 100%;
      justify-content: center;

      .account-information-title {
        display: flex;
        width: 240px;
        height: 64px;
        justify-content: center;
        align-items: center;
        background: url("./images/titlebg.png");
        background-position: center;
        background-size: cover;
        margin-top: 15px;

        > span {
          color: rgba(0, 214, 252, 0.5);
          font-family: "Roboto", sans-serif;
          text-transform: uppercase;
          font-weight: normal;
          letter-spacing: 1.8px;
          font-size: 1em;
          text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
        }
      }
    }
  }
}
