
:root {
    --primary100: 183, 100%, 25%;
    --primary200: 183, 100%, 50%;
    --primary300: 183, 100%, 75%;
    --neutral100: 240, 100%, 7%;
    --neutral200: 240, 32%, 17%;
    --neutral300: 240, 32%, 26%;
    --neutral400: 240, 32%, 35%;
    --neutral500: 240, 32%, 40%;
    --neutral600: 240, 32%, 60%;
    --neutral700: 240, 32%, 80%;
    --neutral800: 240, 32%, 96%;
}


body {
    height: 98.3vh;
    margin: 0;
    font-size: 16px;
    font-family: 'Geostar Fill', cursive;
    line-height: 1.5;
    background-color: #082430;

}


